.diy-code {
	margin-left: 180px;
}

.diy-code pre code {
	padding: 10px;
	border: 1px solid #eee;
	position: relative;
	display: inline-block;
	border-radius: 6px;
	background-color: #dff1f0;
	font-size: 14px;
}

.diy-code .url-list {
	background-color: #eee;
	padding: 20px 0;
}
.diy-code .url-list li {
	display: inline-block;
	cursor: default;
	padding: 1px 10px;
	margin: 1px 5px;
	border: 1px solid #999;
}
.diy-code .url-list li:hover {
	background-color: beige;
}
