.answer .question {
	width: 600px;
	margin: 0 auto;
	min-height: 320px;
	border: 1px solid #e1e4e8;
	padding: 32px;
	border-radius: 10px;
	overflow: auto;
	font-size: small;
	background-color: #dff1f0;
}

.answer .change {
	text-align: center;
}
.answer {
	padding: 25px;
}
.answer .change button {
	position: relative;
	overflow: hidden;
	width: 664px;
	height: 50px;
	font-size: 18px;
	margin-top: 10px;
	padding: 6px 10px;
	color: #fff;
	font-weight: bold;
	border-radius: 0 15px 15px 15px;
	border: 1px solid #e0e0e0;
	background-color: #92cac5;
}

.answer .change button:hover {
	cursor: pointer;
	background-color: #81bdb8;
}

.progress-button .progress {
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
	width: 0%;
	opacity: 0;
	height: 100%;
	z-index: 0;
	transition: width 0s 0.3s, opacity 0.3s;
}

.progress-button.active .progress {
	opacity: 1;
	width: 100%;
	transition: width 0.8s;
}

.gitalk{
	width: 600px;
	margin: 20px auto;
}
