.answer .question {
	width: 600px;
	margin: 0 auto;
	min-height: 320px;
	border: 1px solid #e1e4e8;
	padding: 32px;
	border-radius: 10px;
	overflow: auto;
	font-size: small;
	background-color: #dff1f0;
}

.answer .change {
	text-align: center;
}
.answer {
	padding: 25px;
}
.answer .change button {
	width: 664px;
	height: 50px;
	margin-top: 10px;
	padding: 6px 10px;
	font-size: 18px;
	color: #333;
	border-radius: 0 15px 15px 15px;
	border: 1px solid #e0e0e0;
	background-color: #f5f5f5;
}

.answer .change button:hover {
	border: 1px solid #999;
}
