body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	margin-bottom: 100px;
	margin-left: 80px;
}

.nav {
	position: fixed;
	z-index: 12;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 20px 16px;
	background-color: #ffffff;
	border-right: 2px solid #eaeaea;
}
.nav a {
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}
.nav a div {
	height: 46px;
	width: 46px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav a div span {
	position: absolute;
	width: 20px;
}
.nav a:hover span {
	transform-origin: top center;
	animation-fill-mode: both;
	animation: swing 1s linear forwards;
}

@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.circular path {
	fill: none;
}
.circular svg {
	display: block;
	overflow: visible;
	font-size: 25px;
}

.nav div.logo {
	overflow: hidden;
	border-radius: 16px;
	margin-bottom: 28px;
}
.nav div.timber {
	background-color: rgba(255, 102, 153, 0.2);
	color: #f69;
}
.nav div.cyan {
	background-color: rgba(13, 202, 240, 0.2);
	color: #0dcaf0;
}
.nav div.green {
	background-color: rgba(25, 135, 84, 0.2);
	color: #198754;
}
.nav .cycle {
	position: absolute;
	bottom: 20px;
	height: 46px;
	width: 46px;
}

.nav .cycle .option {
	position: absolute;
	bottom: 0;
	width: 46px;
	height: 46px;
	background-color: #34393d;
	border-radius: 23px;
	z-index: 1008;
	overflow: hidden;
	transition: width 0.25s, height 0.25s;
}

.nav .cycle .setting {
	position: absolute;
	height: 46px;
	width: 46px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1010;
}
.nav .cycle .setting img {
	width: 100%;
}

.nav .cycle:hover .option {
	width: 300px;
	height: 100px;
}

.tg-list-item {
	width: 100%;
	display: flex;
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.25s;
}
.tg-list-item h4 {
	color: #fff;
	width: 100%;
	margin: 13px;
}
.nav .cycle:hover .option .tg-list-item {
	opacity: 1;
}

.tgl {
	display: none;
}

.tgl + .tgl-btn {
	outline: 0;
	display: block;
	width: 6em;
	height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: '';
	width: 50%;
	/* height: 100%; */
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}
.tgl-flat + .tgl-btn {
	padding: 2px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #fff;
	border: 4px solid #f2f2f2;
	border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #f2f2f2;
	content: '';
	border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
	border: 4px solid #7fc6a6;
}
.tgl-flat:checked + .tgl-btn:after {
	left: 50%;
	background: #7fc6a6;
}

.tgl-flip + .tgl-btn {
	padding: 2px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-family: sans-serif;
	-webkit-perspective: 100px;
	perspective: 100px;
}
.tgl-flip + .tgl-btn:after,
.tgl-flip + .tgl-btn:before {
	display: inline-block;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
	content: attr(data-tg-on);
	background: #02c66f;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
	background: #ff3a19;
	content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
	-webkit-transform: rotateY(-20deg);
	transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	left: 0;
	background: #7fc6a6;
}
.tgl-flip:checked + .tgl-btn:active:after {
	-webkit-transform: rotateY(20deg);
	transform: rotateY(20deg);
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rondomRotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	10% {
		-webkit-transform: rotate(36deg);
	}
	20% {
		-webkit-transform: rotate(100deg);
	}
	30% {
		-webkit-transform: rotate(36deg);
	}
	40% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(100deg);
	}
	60% {
		-webkit-transform: rotate(300deg);
	}
	70% {
		-webkit-transform: rotate(36deg);
	}
	80% {
		-webkit-transform: rotate(200deg);
	}
	90% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
